

.storyboard__title {
    border: 1px solid gray;
}


.assembly-lines {
    display: flex;
    justify-content: space-evenly;
}

.assembly-lines > div {
    flex-grow: 1;
}

.assembly-lines > div + div {
    margin-left: 10px;
}

.storyboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    margin-bottom: 5px;
}

.assembly-line {
    margin-left: 10px;
}

.assembly-line-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

#cars-line {
    display: flex;
    flex-wrap: wrap;
}

#cars-line .car {
    background: linear-gradient(azure, red);
    margin: 5px;
    width: 160px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#cars-line .car .background {
    width: 80px;
    height: 40px;
    overflow: hidden;
    -webkit-mask: url('./images/car.svg') no-repeat;
    mask: url('./images/car.svg') no-repeat;
    -webkit-mask-size: 80px 40px;
    mask-size: 80px 40px;
    transform: translateX(50%);
}

#cars-line .car .overlay {
    width: 80px;
    height: 40px;
    background: url('./images/car-overlay.svg') no-repeat;
    background-size: 80px 40px;
}

#paint-shop {
    position: relative;
    width: 200px;
}

#paint-shop__color {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    right: 80;
    top: 20;
}